{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "vue"
  ],
  "extends": [
    "eslint-config-und"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "no-console": "off",
    "generator-star-spacing": "off"
  }
}